<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="todolisticon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>
<body>